<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Component</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="ListComponent">


    <div class="form" ng-controller="FormCtrl as ctrl">
        <form ng-submit="ctrl.addItem();">
            <div class="field">
                <label>Username</label>
                <input type="text" ng-model="ctrl.username" required>
            </div>
            <div class="field">
                <label>Last log in</label>
                <input type="date" ng-model="ctrl.lastLogin" required>
            </div>
            <div class="field">
                <label>Is admin</label>
                <input type="checkbox" ng-model="ctrl.isAdmin">
            </div>
            <div class="field">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>

    <div class="data">
        <list-view values-key="listComponentData" mappings-key="keysMapping" available-page-sizes="[5, 10, 15]"
            display-columns="['username', 'lastLogin', 'isAdmin']"></list-view>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directives/ListView.js"></script>
    <script src="directives/HeaderCell.js"></script>
    <script src="directives/Cell.js"></script>
    <script src="directives/PaggingRow.js"></script>
    <script src="controllers/FormCtrl.js"></script>
    <script src="service/DataService.js"></script>
</body>

</html>