body {
    margin: 0;
    padding: 0;
    min-width: 525px;
    min-height: 470px;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

@media(max-width: 748px) {
    body {
        flex-direction: column;
        align-items: center;
    }
}

.form {
    padding: 20px;
}

.form .field {
    padding: 5px;
}

.form .field input[type="date"],
.form .field input[type="text"] {
    border-radius: 3px;
    border: solid 1px black;
    padding: 5px;
}

.form .field button {
    background: none;
    border: solid 1px black;
    border-radius: 4px;
    padding: 5px;
}

table {
    text-align: center;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border: solid 10px #ccc;
}

thead {
    background-color: #494430;
    color: #fff;
}

thead th {
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    padding: 10px 20px;
}

tbody tr td,
tfoot tr td {
    padding: 10px;
}

tbody tr td {
    border-bottom: solid 1px #ccc;
}

.page-size-selector {
    float: left;
}

.page-navigation {
    float: right;
}

.fa-chevron-left,
.fa-chevron-right {
    cursor: pointer;
}

.fas.disabled {
    color: #ccc;
    cursor: default;
}