<div ng-if="type == 'string' || type == 'number'">
    {{ ::value }}
</div>
<div ng-if="type == 'boolean'">
    <input type="checkbox" disabled="disabled" ng-checked="value">
</div>
<div ng-if="type == 'date'">
    {{ ::(value | date) }}
</div>