<div ng-click="changeSort()">
    <span>{{ ::label }}</span>
    <i ng-if="sort.key == key && !reverse" class="fas fa-sort-up"></i>
    <i ng-if="sort.key == key && reverse" class="fas fa-sort-down"></i>
</div>