<div>
    <table>
        <thead>
            <tr>
                <th ng-repeat="key in keys">
                    <header-cell key="key" label="mappings[key]" on-sort-change="setSort($key, $reverse)" sort="sort"></header-cell>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in dataToShow">
                <td ng-repeat="key in keys">
                    <cell value="item[key]"></cell>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{ keys.length}}">
                    <pagging-row available-page-sizes="availablePageSizes" get-pages-info="getPagesInfo()" page-size="pageSize"
                        on-prev-page-click="prevPage()" on-next-page-click="nextPage()"></pagging-row>
                </td>
            </tr>
        </tfoot>
    </table>
</div>