<div>
    <span class="page-size-selector">
        <span>Rows per page:</span>
    <select ng-model="pageSize" ng-options="option for option in availablePageSizes">
    </select>
    </span>

    <span class="page-info">
        {{ getPagesInfo().start }} - {{ getPagesInfo().end }} of {{ getPagesInfo().dataLength }}
    </span>
    <span class="page-navigation">
        <i ng-click="onPrevPageClick()" class="fas fa-chevron-left" ng-class="{'disabled' : getPagesInfo().currentPage == 0 }"></i>
        <i ng-click="onNextPageClick()" class="fas fa-chevron-right" ng-class="{'disabled' : getPagesInfo().currentPage == getPagesInfo().lastPageNo }"></i>
    </span>
</div>